<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/admin_style.css">
    <title>Admin Room</title>
</head>
<body>
    <div class="top_banner">
        <div id="top-left"><p>Admin Room</p></div>
        {% if current_user.is_authenticated %}
            <div id="top-right">
                <img src="User" alt="User" id="top-right--img">
                <a href="{{ url_for('logout') }}" id="top-right--btn">Log Out</a>
            </div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>